.header {
  width: 100%;
  background-color: #dcdcdc;
}

.header__img {
  width: 273px;
  height: 100px;
  margin-top: 30px;
}

.header__feedback {
  text-align: right;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  height: 230px;
  padding-top: 35px;
  padding-bottom: 65px;
}

.header__feedback-link {
  display: block;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 1px;
  color: #767676;
  text-decoration: none;
}

.header__feedback-text {
  display: inline-block;
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 2px dotted #767676;
}
