.nav {
  background-color: #777777;
  min-height: 80px;
  display: flex;
  align-items: center;
}

.nav__list {
  font-size: 30px;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  padding-right: 35px;
  padding-left: 35px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.nav__item {
  border-right: 2px solid #ffffff;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 10px;

  a {
    color: inherit;
  }

  &:last-of-type {
    padding-right: 0;
    border: none;
  }

  &:hover {
    text-decoration: underline;
  }
}
